//sizing::generateFullScreenPage: Forces the html and body selectors
//of a page to automatically fit to 100% vertically and horizontally of
//the viewport. Creating a child element on the markup and then utilizing
//sizing::forceFitToParentElement will create an element which we can
//then apply a background to with a sibling and the background module.
@mixin _login_sizing_generateFullScreenPage {
    html, body{
    width: 100vw;
    height: 100vh;
    }
}

//Example usage:
//@include _login_sizing_generateFullScreenPage


//sizing::forceFitToParentElement: takes a child element (preferably of
//the body/html itself and forces it to be 100%. Naturally using this
//in conjunction with generateFullScreenPage will allow us to create
//full screen backgrounds as mentioned above.
@mixin _login_sizing_forceFitToParentElement($selector) {
    #{$selector} {
	width: 100%;
	height: 100%;
    }
}

//Example usage:
//@include _login_sizing_forceFitToParentElement(".full-page");
