//This mixin corresponds to the mixins contained within
//sass/component/container/. container::generateCenteredContainer
//takes a simple selector and generates it.
mixin _login_container_generateCenteredContainer(selectorName)
  div(class=selectorName)
    block

//This mixin corresponds to the mixins contained within
//sass/component/container/. container::generateClusterContainer
//takes a simple selector and generates it.
mixin _login_container_generateClusterContainer(selectorName)
  div(class=selectorName)
    block

//This mixin corresponds to the mixins contained within
//sass/component/container/. container::generateCenteredElement
//takes a simple selector and generates it.
mixin _login_container_generateVCenteredElementContainer(selectorName)
  div(class=selectorName)
    block

